.button {
    border: 1px solid black;
    color: black;
    background: white;
    cursor: pointer;
    font-size: 12px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editor-input {
    background-color: white;
    color: black;
    outline: none;
}

.dropdown {
    padding: 4px 8px;
    border: 1px solid black;
    color: black;
    background: white;
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 120px;
    justify-content: space-between;
    cursor: pointer;
}

.font-size-input-container {
    width: 40px;
    height: 28px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    outline: none;
    user-select: none;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-family: monospace;
} 